<form class="table-form" ng-submit="updateRoute(state)">
<table class="table" cellpadding="0" cellspacing="0">
	<thead>
		<tr class="title">
			<th class="{{::column.filterType}}" ng-class="{sorting: column.isSortable && state.order!=column.name, 'sorting-asc': state.order==column.name && state.orderType=='ASC', 'sorting-desc': state.order==column.name && state.orderType =='DESC'}" ng-repeat="column in columns" ng-click="updateOrder(column.name)">
				<i class="fa fa-caret-up"></i>
				<i class="fa fa-caret-down"></i>
				{{::_(column.name)}}
			</th>
			<th class="filter-toggle">
				<button ng-click="showFilters=!showFilters" type="button" class="small">
					<i class="fa fa-filter"></i> &nbsp;{{dataCount}}
				</button>
			</th>
		</tr>
		<tr class="filter" ng-if="showFilters">
			<th class="{{::column.filterType}}" ng-repeat="column in columns" ng-switch="::column.filterType">
				<div ng-if="::column.isFilterable" ng-class="{'empty-handling': state[column.name + '_empty']}">
						<span ng-switch-when="date">
							<div ng-hide="show.date.substr(1)==column.name">
								<button class="date-filter" ng-click="show.date='f'+column.name" type="button">
									<span ng-if="stateDate[column.name + '_min']">{{stateDate[column.name + '_min'] | date:'shortDate'}}</span>
									<span ng-if="! stateDate[column.name + '_min']">{{::_('From')}}</span></button> -
								<button class="date-filter" ng-click="show.date='t'+column.name" type="button">
									<span ng-if="stateDate[column.name + '_max']">{{stateDate[column.name + '_max'] | date:'shortDate'}}</span>
									<span ng-if="! stateDate[column.name + '_max']">{{::_('To')}}</span>
								</button>
							</div>
							<input type="date" ng-init="stateDate[column.name + '_min']=initDate(column.name + '_min')" ng-show="show.date=='f'+column.name" ng-model="stateDate[column.name + '_min']" ng-change="onDateFilterChange(column.name + '_min')" />
							<input type="date" ng-init="stateDate[column.name + '_min']=initDate(column.name + '_min')" ng-show="show.date=='t'+column.name" ng-model="stateDate[column.name + '_max']" ng-change="onDateFilterChange(column.name + '_max')" />
						</span>
						<span ng-switch-when="number">
							<input type="number" ng-model="state[column.name + '_min']" ng-change="changeCount()" placeholder="{{::_('Min')}}" />
							<input type="number" ng-model="state[column.name + '_max']" ng-change="changeCount()" placeholder="{{::_('Max')}}" />
						</span>
					<div style="margin-left: 16px;" ng-switch-default>
						<input style="width: 100%;" ng-if="column.isEnum==false" type="text" ng-model="state[column.isFilterable + '_wild']" ng-change="changeCount()" />
						<div class="enum" ng-if="column.isEnum==true">
							<select ng-model="state[column.isFilterable + '_wild']"
							        ng-change="changeCount()"
							        milo-service="service.getName()"
							        milo-enum="column.originalType" ng-options="">
							</select>
						</div>
					</div>
				</div>
				<div ng-if="::column.isFilterable" class="empty-handler">
					<i class="fa fa-circle fa-fw" ng-class="{active: state[column.name + '_empty'] == 'show'}" ng-click="setEmptyState(column.name, 'show')"></i>
					<i class="fa fa-circle-o fa-fw" ng-class="{active: state[column.name + '_empty'] == 'hide'}" ng-click="setEmptyState(column.name, 'hide')"></i>
					<i class="fa fa-refresh fa-fw" ng-show="column.filterType=='date'" ng-click="clearDateFilter(column.name)"></i>
				</div>
			</th>
			<th class="search">
				<input type="text" placeholder="{{::_('Search everywhere')}}" ng-model="state.filter" ng-change="changeCount()" />
				<button class="search" ng-class="{disabled: dataCount || dataCount == 0}"><i class="fa fa-search"></i></button>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in data track by $index">
			<td ng-repeat="column in columns">
				<span ng-if="column.filter" ng-bind-html="row[column.name + '_filtered']"></span>
				<span ng-if="!column.filter">{{row[column.name + '_filtered']}}</span>
			</td>
			<td style="text-align: right; padding-right: 20px;">
				<button type="button" ng-repeat="action in actions" class="{{action.class}}" ng-class="{hidden: row==null || action.hide(row)}" ng-click="action.trigger(row)" ng-bind-html="action.name">
					&nbsp;
				</button>
			</td>
		</tr>
    </tbody>
	<tfoot>
		<!--<tr ng-if="rendered == true"><td colspan="8">Hromadne akcie</td></tr>-->
		<tr ng-if="rendered == true">
			<td class="limits" colspan="{{columns.length / 2 + 1}}">
				<button type="button" class="small" ng-class="{active: limit == state.limit}" ng-repeat="limit in ::limits" ng-click="updateRoute('limit', limit)">{{::limit}}</button>
				{{::_('Entries per page')}}
			</td>
			<td class="cpagination" colspan="{{columns.length / 2 + (columns.length % 2)}}">
				<button type="button" class="small" ng-class="{'disabled': state.page <= 1}" ng-click="updateRoute('page', state.page - 1)">
					<i class="fa fa-angle-left"></i>
				</button>
				<button type="button" class="small active">{{state.page}}</button>
				<span>{{::_('of')}} {{getPagesCount()}}&nbsp;</span>
				<button type="button" class="small" ng-class="{'disabled': state.page >= getPagesCount()}" ng-click="updateRoute('page', 1 + 1*state.page)">
					<i class="fa fa-angle-right"></i>
				</button>
			</td>
		</tr>
	</tfoot>
</table>
</form>