<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="Web" ng-controller="AppCtrl">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Richard Casar" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic,400,600,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<style>
		/*only global loading should be preloaded*/
		.loading { border-color: transparent #343434 transparent transparent;}
		.loading .spinner-1 .spinner {background-color: #4D4D4D; color: #bbbbbb}
	</style>

	<link type="text/css" rel="stylesheet" media="screen" href="lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="css/main.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="css/themes.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="lib/animate.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="css/animations.css" />
	<!-- <link rel="stylesheet" href="lib/bootstrap-3.2.0-dist/css/css/bootstrap-theme.min.css"> -->
	<link type="text/css" rel="stylesheet" media="screen" href="lib/font-awesome-4.2.0/css/font-awesome.min.css" />

	<!--[if lte IE 8]>
	<link type="text/css" rel="stylesheet" media="screen" href="css/ie.css" />
	<![endif]-->

	<title ng-bind="getTitle()"></title>
</head>

<body class="g100 {{getConfig('layout')}} {{getConfig('color')}} {{routeParams.nav}}">

	<header class="g15 pane" ng-include="getConfig('urlHeader')">
	</header>

	<section class="g85 pane wrapper" ng-cloak class="ng-cloak">
		<main class="pane {{animationClass}}" ng-class="{g100: !views, g85: views}" ng-view="" role="main">
		</main>
	</section>

	<footer class="g100 p2 pv1" ng-include="getConfig('urlFooter')">
	</footer>

	<svg class="loading-bg" ng-hide="!init" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
		<path d="M 0 0 V 100 H 100 v -100 Z" fill="#555" />
	</svg>
	<svg id="loading" ng-click="reload()" ng-class="loadingClass" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M 0 0 H 100 V 100 Z" fill="#555" />
		<circle cx="50" cy="50" r="50" fill="#aaa" />
		<path id="inner-circle-path" d="M81.5 17.5 A 45 45, 0, 1, 0, 82.5 18.5 Z" fill="transparent" />
		<path class="reload" ng-class="{'init': !init}" ng-show="loadings.global == 0" d="M70 25 A 32 32, 0, 1, 0, 75 70" fill="transparent" stroke="white" stroke-width="7" />
		<path class="reload" ng-class="{'init': !init}" ng-show="loadings.global == 0" d="M69 25, 63 32 h 13 v -15 Z" fill="#fff" />
		<circle class="load" ng-show="loadings.global != 0" cx="0" cy="0" r="5" fill="#555">
			<animateMotion id="svg-small-circle-animation" dur="4s" repeatCount="indefinite">
				<mpath xlink:href="#inner-circle-path" />
			</animateMotion>
		</circle>
		<text class="load" x="50" y="60" text-anchor="middle" fill="white" ng-bind="loadings.global">
		</text>
	</svg>

	<div ng-show="ajax.message" class="ajax-message p2 pv1 alert alert-{{ajax.type}} alert-dismissible" role="alert">
		<i class="fa fa-close fa-2x" ng-click="ajax.message=null"></i>
		<strong ng-bind="ajax.message"></strong>
	</div>

	<script type="text/ng-template" id="url-router.html">
		<div ng-include="templateUrl"></div>
		<div class="clear">&nbsp;</div>
	</script>
	<script type="text/javascript" src="lib/angular-1.4.0/angular.min.js"></script>
	<script type="text/javascript" src="lib/angular-1.4.0/angular-resource.min.js"></script>
	<script type="text/javascript" src="lib/angular-1.4.0/angular-animate.min.js"></script>
	<script type="text/javascript" src="lib/angular-1.4.0/angular-route.min.js"></script>
	<script type="text/javascript" src="lib/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="lib/tinymce/tinymce.min.js"></script>
	<script type="text/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
	<script type="text/javascript" src="lib/angular-ui/tinymce.js"></script>	
	<script type="text/javascript" src="lib/milo-require.js"></script>
	<script type="text/javascript" src="settings.js"></script>
	<script type="text/javascript">
		document.write('<base href="' + window.SETTINGS.base + '" />');
		window.REQUIRE = new MiloRequire(window.SETTINGS.jsPrefix, window.SETTINGS.base, window.SETTINGS.version);
	</script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/services/global-service.js"></script>
	<script type="text/javascript" src="js/services/auth-service.js"></script>
	<script type="text/javascript" src="js/app-ctrl.js"></script>
	<script type="text/javascript">
		// preload less priority sources - but common needed
		window.REQUIRE.load('directives/table-directive.js');
		window.REQUIRE.load('directives/enum-directive.js');
		window.REQUIRE.load('directives/match-entity-directive.js');
		window.REQUIRE.load('../lib/bootstrap-3.2.0-dist/js/bootstrap.min.js');
		window.REQUIRE.load('../lib/ui-bootstrap-0.11.0.min.js');
		window.REQUIRE.load('../lib/angular-1.4.0/i18n/angular-locale_' + window.SETTINGS.language + '.js');
	</script>

</body>
</html>
