<nav>
	<ul>
		<li ng-repeat="item in menu" ng-class="{active: routeParams.nav == item.name}">
			<a ng-href="#/{{item.name}}"><i class="fa {{item.class}} fa-fw fa-2x"></i>{{_(item.name)}}</a>
			<nav class="submenu" ng-if="routeParams.nav == item.name">
				<i class="fa {{item.class}} fa-fw fa-2x"></i>
				<ul ng-init="clonedViews=views">
					<li ng-class="{active: routeParams.view == view || ! routeParams.view && $index == 0}" ng-repeat="view in views">
						<a ng-href="{{'#/' + routeParams.nav + '/' + view}}">{{_(view)}}</a>
					</li>
				</ul>
			</nav>
		</li>
	</ul>
	<div style="clear: both;"></div>
</nav>

<nav class="login p2 pv2">
	<ul>
		<li class="p2 pv2" ng-class="{active: routeParams.view == 'login'}">
			<a ng-href="#/login/login">{{_('Log In')}}</a>
		</li>
		<!--<li class="p2 pv2" ng-class="{active: routeParams.view == 'signup'}">-->
			<!--<a ng-href="#/login/signup">{{_('Sign Up')}}</a>-->
		<!--</li>-->
	</ul>
</nav>

<nav class="nav-2">
	<ul>
		<li ng-click="show.settings=!show.settings">
			<a href="javascript:void();"><i class="fa fa-cogs fa-fw"></i>&nbsp; {{_('Preferences')}}</a>
		</li>
	</ul>
</nav>

<section class="settings" ng-show="show.settings">
	<h4>{{_('Layout')}}</h4>
	<ul class="layouts">
		<li ng-repeat="layout in getConfig('layouts')" ng-class="{'active': layout == getConfig('layout')}" ng-click="setConfig('layout', layout, true);" class="{{layout}}"><a></a></li>
	</ul>
	<h4>{{_('Color')}}</h4>
	<ul class="colors">
		<li ng-repeat="color in getConfig('colors')"><button ng-click="setConfig('color', color, true);" ng-class="{'active': color == getConfig('color')}" class="small {{color}}">{{_(color)}}</button></li>
	</ul>
	<h4>{{_('Language')}}</h4>
	<ul class="languages">
		<li ng-repeat="language in getConfig('languages')"><button ng-click="setConfig('language', language, true);updateRoute();" ng-class="{'active': language == getConfig('language')}" class="small {{language}}">{{_(language)}}</button></li>
	</ul>
	<h4>{{_('User')}}</h4>
	<!-- <button type="button" class="btn btn-default btn-sm">
  		<i class="fa fa-pencil"></i>&nbsp; {{_('Edit profile')}}
  	</button> -->
	<button type="button" class="btn btn-default btn-sm" ng-click="updateRoute({'nav': 'login', 'view': 'login'});">
  		<i class="fa fa-power-off"></i>&nbsp; {{_('Log Out')}}
  	</button>
</section>